* text=auto eol=lf

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.argx text eol=lf
*.lock text eol=lf
tests/selfhost/lexer/samples/** -text
tests/selfhost/lexer/package/** -text
tests/selfhost/parser/package/** -text
tests/selfhost/parser/samples/** -text
tests/selfhost/check/samples/** -text
tests/selfhost/check/package/** -text
tests/selfhost/agent/samples/** -text
tests/selfhost/agent/package/** -text
tests/selfhost/agent/parser_samples/** -text
tests/selfhost/agent/parse_package/** -text
tests/selfhost/agent/check_samples/** -text
tests/selfhost/agent/check_package/** -text
tests/selfhost/agent/package_samples/** -text
tests/selfhost/agent/package_package/** -text
